<%= form_for [:admin, @admin_style], :html => { class: 'form-horizontal', :role => "form", autocomplete: 'off' } do |f| %>
  <% if @admin_style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_style.errors.count, "error") %> prohibited this admin_style from being saved:</h2>

      <ul>
      <% @admin_style.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
