<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_sites_admin_organization_post_list_path(@sites_admin_organization_post_list) %> |
<%= link_to 'Back', sites_admin_organization_post_lists_path %>
