.content-center
  margin: auto
    
h3.over-write
  margin-top: 0
  margin-bottom: 0

.content-main
  width: 590px

.content-header
  border: 1px solid #e1e8ed
  border-bottom-width: 0
  border-radius: 6px 6px 0 0
  background-clip: padding-box
  background-color: #fff

.header-inner
  padding: 12px

.content-inner
  padding: 12px
  border: 1px solid #e1e8ed
  border-radius: 0 0 6px 6px
  background-clip: padding-box 
  background-color: #fff

.item-header
  width: 100%
  display: table
  content: " "
  .item-header-info 
    padding-left: 10px
    padding-right: 10px
    float: left
    width: 50%
    font-size: 15px
  .item-header-photo
    float: left
    width: 50%
    border: 1px solid #ddd
    padding: 4px

    img
      width: 100%

.cates-board
  height: 500px
  padding: 0px 20px
  .cates-col
    width: 33%
    float: left
    padding: 0 10px
.photo
  .photo-control
    float: left
    width: 560px
    margin-bottom: 10px
    .btn-control
      float: left
      width: 120px
    .process-control
      float: left
      width: 340px
      .progress
        margin-bottom: 0
    .tip-control
      float: left
      width: 560px

      hr
        margin-top: 5px
        margin-bottom: 5px
  .gallery
    float: left
    margin-left: 130px
    .img-list
      width: 560px