.item-form
  .form-group
    margin-bottom: 0px
  .control-label
    width: 120px
    float: left
    margin-right: 10px
    font-size: 15px
  .col
    float: left
    margin-right: 10px
  .group-sm-hr
    margin-bottom: 5px
  .group-lg-hr
    margin-bottom: 10px

  .address-city
    width: 110px
  .address-zone
    width: 120px
  .address-street
    width: 160px
  .address-alley
    width: 240px
  .address-no
    width: 160px

  .pattern
    width: 100px
  .plain
    width: 100px

  .floor
    width: 100px
  .floor-tip
    width: 265px
    p
      margin: 5px 0 5px

  .direction
    width: 100px

  .rent-price
    width: 150px
  .deposit
    width: 110px
  .deposit-amount
    width: 150px
  .management-fees
    width: 150px

  .period-type
    width: 100px
  .period-amount
    width: 60px
  .period-unit
    width: 50px

  .date
    width: 140px
  .nearby-traffic
    width: 190px
  .title
    width: 450px
  .descript
    width: 450px
  .full
    width: 100%
    padding: 0 10px 0 10px
  .submit
    width: 150px
  .email
    width: 300px