<p>您好！ <%= @resource.email %>：</p>

<p>請點選<%= link_to '連結', edit_password_url(@resource, reset_password_token: @token, organization_id: @resource.confirm_organization_id) %>以變更密碼。</p>

<p>如果您沒有要求變更密碼，可以忽略此信。</p>
<p>如果您未點選連結且重設密碼，您的密碼將不會變更。</p>
