.form-group
  %label.control-label
    %span{style: 'color: red;'} *
    類型
  .col
    - types = Item::RentParking::TYPES.map {|k, v| [v, k] }
    = f.select :parking_type, types, {}, {class: 'form-control'}
.form-group.group-lg-hr