.form-group
  %label.col-sm-2.control-label 性別要求
  .col-sm-8
    %label.radio-inline
      = f.radio_button :sexual_require, :both
      皆可
    %label.radio-inline
      = f.radio_button :sexual_require, :male
      男生
    %label.radio-inline
      = f.radio_button :sexual_require, :female
      女生