.form-group
  %label.col-sm-2.control-label
    格局
  .col-sm-8  
    %label.checkbox-inline
      = f.check_box :pattern_entresol_has
      樓中樓
    %label.checkbox-inline
      = f.check_box :pattern_balcony
      有陽台