.form-group
  %label.col-sm-2.control-label 
    %span{style: 'color: red;'} *
    車位坪數
  .col-sm-2
    .input-group{class: "#{f.error_class :inner_amount}"}
      = f.text_field :inner_amount, class: 'form-control error-tooltip', data: {errormessage: "#{f.error_message :inner_amount}"}
      %span.input-group-addon 坪
