.form-group
  %label.control-label 特色描述
  .col.descript
    = f.text_area :descript, id: 'descript_editor'
.form-group.group-lg-hr


:javascript
  $('#descript_editor').ckeditor({
    height: 200,
    toolbar: [
      { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat' ] },
      { name: 'paragraph', items: [ 'NumberedList','BulletedList','-','Outdent','Indent'] },
      { name: 'colors', items: [ 'TextColor', 'BGColor' ] },
      { name: 'styles', items: ['FontSize' ] },
      { name: 'links', items: [ 'Link', 'Unlink' ] }
    ]
  });