.form-group
  %label.control-label 
    %span{style: 'color: red;'} *
    車位坪數
  .col.plain
    .input-group{class: "#{f.error_class :inner_amount}"}
      = f.text_field :inner_amount, class: 'form-control error-tooltip', data: {errormessage: "#{f.error_message :inner_amount}"}
      %span.input-group-addon 坪
.form-group.group-lg-hr