.form-group
  %label.control-label 裝潢程度
  .col.decorating
    - levels = Item::RentStore::DECORATING_LEVELS.map {|k, v| [v, k] }
    = f.select :decorating_level, levels, {}, {class: 'form-control'}
.form-group.group-lg-hr