.form-group
  %label.control-label 
    %span{style: 'color: red;'} *
    基地面積
  .col{class: "#{f.error_class :land_area_amount}"}
    - data = { errormessage: "#{f.error_message :land_area_amount}" }
    = f.text_field :land_area_amount, class: 'form-control area-input error-tooltip', maxlength: 7, data: data
  .col
    - types = Item::RentLand::AREA_UNITS.map {|k, v| [v, k]}
    = f.select :land_area_unit, types, {}, class: 'form-control'
.form-group.group-lg-hr