.form-group.address-area
  %label.control-label 
    %span{style: 'color: red;'} *
    場地租金
  .col
    - types = Item::RentPlace::PRICE_TYPES.map {|k, v| [v, k] }
    = f.select :place_price_type, types, {}, {class: 'form-control'}

.form-group.group-lg-hr