.form-group
  %label.col-sm-2.control-label
    %span{style: 'color: red;'} *
    類型
  .col-sm-2
    - types = Item::RentParking::TYPES.map {|k, v| [v, k] }
    = f.select :parking_type, types, {}, {class: 'form-control'}
    