.form-group
  %label.control-label
    %span{style: 'color: red;'} *
    經辦者
  .col
    - types = Item::RentPlace::MANAGER_TYPES.map {|k, v| [v, k] }
    = f.select :manager_type, types, {}, {class: 'form-control'}
.form-group.group-lg-hr