.form-group
  %label.control-label 性別要求
  .col.sexual
    %label.radio-inline
      = f.radio_button :sexual_require, :both
      皆可
    %label.radio-inline
      = f.radio_button :sexual_require, :male
      男生
    %label.radio-inline
      = f.radio_button :sexual_require, :female
      女生
.form-group.group-lg-hr