.form-group
  %label.control-label 管理費
  .col.management-fees
    .input-group
      = f.text_field :management_fees, class: 'form-control price_input'
      %span.input-group-addon 元/月
.form-group.group-lg-hr