.form-group
  %label.control-label 帶租約
  .col
    %label.radio-inline
      = f.radio_button :house_with_lease, true
      有
    %label.radio-inline
      = f.radio_button :house_with_lease, false
      無
.form-group.group-lg-hr