.form-group
  %label.control-label 開伙
  .col
    %label.radio-inline
      = f.radio_button :is_cooking_allow, true
      可
    %label.radio-inline
      = f.radio_button :is_cooking_allow, false
      不可
.form-group.group-lg-hr