.form-group
  %label.control-label
    %span{style: 'color: red;'} *
    車位種類
  .col
    - cates = Item::RentParking::CATES.map {|k, v| [v, k] }
    = f.select :parking_cate, cates, {}, {class: 'form-control'}
.form-group.group-lg-hr