.form-group
  %label.control-label
    %span{style: 'color: red;'} *
    土地類別
  .col
    - types = Item::RentLand::TYPES.map {|k, v| [v, k] }
    = f.select :land_type, types, {}, {class: 'form-control'}
.form-group.group-lg-hr
    