.info-contact
  .info-contact-container
    .phone-icon
      %span.glyphicon.glyphicon-earphone
    %small
      = item.contact_name
      = item.contact_declaration_disturb.present? ? '(屋主聲明，請仲介勿擾！)': '' 
    %br
    - item.contact_mobile.blank? ? mobile = '-' : mobile = item.contact_mobile
    = item.contact_phone.blank? ? mobile : item.contact_phone
  %hr
  .email
    Email:
    = item.contact_email.blank? ? '-' : item.contact_email

:css
  .info-contact {
    background-color: #dae9f8;
    border: 1px solid #91B9E0;
    border-radius: 2px;
    margin: 0px 0px 20px 10px;
    padding: 5px;
    position: relative;
  }
  .info-contact .phone-icon {
    font-size: 30px;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .info-contact .phone-icon span{ 
    background-color: #37D04B;
    color: white;
    padding: 5px;
    border-radius: 3px;
  }
  .info-contact hr {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #91B9E0;
  }
  .info-contact .email {

  }
  .info-contact-container {
    margin-left: 45px;
  }
  
