.form-group
  %label.col-sm-2.control-label 車位
  .col-sm-8
    %label.radio-inline
      = f.radio_button :has_parking, true
      有
    %label.radio-inline
      = f.radio_button :has_parking, false
      無