.form-group
  %label.col-sm-2.control-label 養寵物
  .col-sm-8
    %label.radio-inline
      = f.radio_button :is_pet_allow, 1 
      可
    %label.radio-inline
      = f.radio_button :is_pet_allow, 0 
      不可