.form-group
  %label.col-sm-2.control-label 最短租期
  .col-sm-4
    .row
      .col-sm-4
        %select.form-control#rent_period_type_select
          - Item::RentHomeApartment::RENT_PERIOD_TYPES.each do |index, value|
            %option{value: "#{value}"}= index
      .col-sm-6.rent-period-data-area{style: 'display: none;'}
        .row
          .col-sm-6
            = f.text_field :rent_period_number, class: 'form-control'
          .col-sm-6
            - units = Item::RentHomeApartment::RENT_PERIOD_UNITS
            = f.select :rent_period_unit, units, {}, {class: 'form-control'}
  %label.col-sm-2.control-label 可遷入日
  .col-sm-2
    .input-group
      = f.text_field :allow_moved_date, class: 'form-control '
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar{'aria-hidden' => "true"}
  

:javascript
  var $rent_period_data_area    = $('.rent-period-data-area');
  var $rent_period_type_select  = $('#rent_period_type_select');
  var $allowMovedDateInput      = $('#item_allow_moved_date');

  $rent_period_type_select.change(function() {

    if ($rent_period_type_select.find('option:selected').val() == 'other') {
      $rent_period_data_area.show();
    } else {
      $rent_period_data_area.hide();
    }
    
  });
  
  $allowMovedDateInput.datepicker($.datepicker.regional[ "zh-TW" ]);