<div class="form-group">
  <label class="col-sm-2 control-label">租金</label>
  <div class="col-sm-2">
    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-addon">元/月</span>
    </div>
  </div>
  <label class="col-sm-2 control-label">押金</label>
  <div class="col-sm-2">
    <select class="form-control" id="deposit">
      <% Item::RentHomeApartment::DEPOSIT.each do |index, value| %>
        <option value="<%= value %>"><%= index %></option>
      <% end %>
    </select>
  </div>
  <div class="col-sm-2 deposit-amount-area" style="display: none;">
    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-addon">元</span>
    </div>
  </div>
</div>

<script type="text/javascript">
  var $deposit_amount_area = $('.deposit-amount-area');

  $('#deposit').change(function() {
    
    if ($('#deposit option:selected').val() == 'other') {
      $deposit_amount_area.show();
    } else {
      $deposit_amount_area.hide();
    }
  });

</script>