.content-header
  .header-inner
    %h3.over-write 新增物件
.content-inner
  = render 'step_bar', locals: {step: 'confirm'}
  = link_to '返回修改', edit_sites_admin_item_path(@organization.id, @sites_admin_item.id)


%div{style: 'margin-top: 10px;'}
= render 'show_item'