<%= render 'step_bar', locals: {step: params[:step]} %>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <%= render 'form' %>
  </div>
</div>


<%= link_to "prev step", new_sites_admin_item_path %>
<%= link_to "next step", new_sites_admin_item_path(step: :confirm) %>